<h4 class="sidebar-summary">{{localize "PF2E.ActionActionSummary"}}</h4>

{{#if data.featType.value}}
    <span class="item-summary">{{lookup featTypes data.featType.value}}</span>
{{/if}}
{{#if data.requirements.value}}<span class="item-summary">{{data.requirements.value}}</span>{{/if}}

<ol class="item-tags">
    {{#each traits as |trait|}}
        {{#if trait.selected}}
            <li class="tag">{{localize trait.label}}</li>
        {{/if}}
    {{/each}}
</ol>
